Lab2\BartoszRodziewiczLab2\bin
Lab2\BartoszRodziewiczLab2\obj
Lab1\BartoszRodziewiczLab1\bin
Lab1\BartoszRodziewiczLab1\obj
Lab3\BartoszRodziewiczLab3\bin
Lab3\BartoszRodziewiczLab3\obj
/Lab3/BartoszRodziewiczLab3/BartoszRodziewiczLab3/bin/Debug
/Lab3/BartoszRodziewiczLab3/BartoszRodziewiczLab3/obj/Debug
